* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}
nav,
footer,
header,
aside {
   display: block;
}
html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
   font-family: inherit;
}
input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

body {
   border: 3px solid green;
   background-color: rgb(255, 255, 255);
}

.logo {
   margin: 250px 0 0 115px;

   max-width: 94%;
}
.title {
   margin: 100px 0 154px 0;
   text-align: center;
   font-size: 48px;
   font-style: normal;
   font-family: "Raleway";
   font-weight: 700;
   color: #ffb017;
}

.text-loading {
   font-family: "Roboto";
   color: black;
   font-style: normal;
   font-weight: 500;
   font-size: 24px;
   line-height: 28px;
   margin: 0px 0 0 154px;
}
.text-loading::after {
   content: "...";
}
