* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}
nav,
footer,
header,
aside {
   display: block;
}
html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
   font-family: inherit;
}
input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

body {
   min-height: 790px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.comeback-button {
   display: block;
   margin: 15px 85% 0 0%;
}
img {
   margin: 0px 0 0 0;
}

.game-list {
   display: flex;
   margin: 0 auto;
   flex-wrap: wrap;
   height: 236px;
   width: 258px;
   gap: 20px;
   margin: 80px 0px 0 0px;
}
.game-list-item {
   margin: 0px 0px 0 0px;
   border: 2px solid black;
   width: 116px;
   height: 108px;
   background-color: #f78708;
}

.game-list-item:nth-child(1) {
   background-image: url(/page-for-memory/img/img1-fourthPageAll.svg);
}
.game-list-item:nth-child(2) {
   background-image: url(/page-for-memory/img/img2-fourthPage.svg);
}
.game-list-item:nth-child(3) {
   background-image: url(/page-for-memory/img/img3-fourthPageAll.svg);
   background-size: 128px;
   background-repeat: no-repeat;
   background-position-x: -5px;
   background-position-y: -1px;
}
.game-list-item:nth-child(4) {
   background-image: url(/page-for-memory/img/img4-fourthPage.svg);
   background-position-x: 0px;
}
.thirdPageButton {
   display: block;
   background-image: url(/page-for-memory/img/Arrow-button.svg);
   background-size: 34px;
   background-repeat: no-repeat;
   background-position-x: 123px;
   background-position-y: center;
   font-weight: bold;
   text-align: center;
   width: 170px;
   height: 87px;
   background-color: rgb(255, 251, 0);
   box-shadow: 6px 5px 4px rgb(255, 145, 0);
   color: #ffaa00;
   border-radius: 30px;
   font-size: 24px;
   margin: 140px 7% 40px 7%;
   padding: 13px 10px 0 0;
   border: none;
}

.thirdPageButton:active {
   border: none;
   color: #ffbb00;
   background-color: rgb(207, 204, 29);
   box-shadow: 3px 2px 1px rgb(165, 107, 32);
}

.description-text {
   font-size: 30px;
   text-align: center;
   line-height: 35px;
   color: transparent;
   -webkit-background-clip: text;
   background-clip: text;
   background-image: linear-gradient(to right, rgb(255, 136, 0), rgb(243, 227, 5));
   height: 74px;
   width: 294px;
   text-align: center;
   margin: 140px 0 0 0;
}
