* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}
nav,
footer,
header,
aside {
   display: block;
}
html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
   font-family: 'Balsamiq Sans', cursive;
}
input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

body {
	background-color: #25345B;
   min-height: 780px;
   align-items: center;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   outline: none;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
}
.wrapper {
   min-height: 98%;
   min-width: 100%;
   display: flex;
   flex-direction: column;
}
.header {
   display: flex;
   width: 100%;
   justify-content: space-between;
   margin: 10px 0 0 0;
}
.comeback-button {
   color: #FEC727;
   font-size: 44px;
   margin: 13px 0 0 20px;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
}
.comeback-button:active{
	transform: scale(0.5);
 }
.social-list{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
   margin: 5px 15px 0 0px;
}
.settings-top-icon{
   font-size: 40px;
   color: #FEC727;
}
.main {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   flex: 1 1 auto;
  
}

.main-item {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
   font-family: 'Balsamiq Sans', cursive;
   width: 170px;
   text-align: center;
   font-size: 23px;
   height: 50px;
   border: 3px solid black;
   background-color: #FEC727;
   border-radius: 10px;
}
.active:active{
   transform: scale(0.5);
}
.sign-in {
	color: rgb(160, 40, 207);
}
.connect {
	padding: 0 10px 0 10px;
   margin: 0 auto;
   width: 170px;
   height: 50px;
   border: 3px solid black;
   border-radius: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #FEC727;
	font-size: 20px;
	font-family: 'Balsamiq Sans', cursive;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}
.connect:active {
	transform: scale(0.5);
	outline: none;
	user-select: none;
}
.gamepad {
	width: 45px;
	margin: 0 10px 0 0;
 }
.main-item a {
   color: black;
}
.gray-background-container{
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(108, 108, 108, 0.584);
	z-index: 2;
}
.developers-button {
   margin: 0 auto;
   font-family: 'Balsamiq Sans', cursive;
   width: 170px;
   text-align: center;
   font-size: 22px;
   height: 50px;
   border: 3px solid black;
   border-radius: 10px;
   padding: 8px 0 0 0;
   background-color: #FEC727;
}
.developers-container_body{
	display: none;
	font-size: 22px;
	font-family: 'Balsamiq Sans', cursive;
	position: absolute;
	text-align: center;
	margin: 0 auto;
	height: 15%;
	width: 170px;
	background-color:#d66d0b;
	z-index: 3;
	border: 4px solid #FEC727;
	border-radius: 15px;
}
.developers-container:active{
	transform: scale(0.5);
 }
.footer {
   display: flex;
   flex-wrap: nowrap;
   gap: 20%;
   width: 100%;
}
.version {
   font-family: 'Balsamiq Sans', cursive;
   margin: 10px;
   font-size: 24px;
}
.donate-text{
   margin: 10px;
   font-size: 24px;
}
.settings-main-item {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   height: 400px;
}

.sound {
   margin: 3px 0 0 49px;
   width: 43px;
}
.language {
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
}
.close{
	margin: -10px 0 0 0 ;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #FEC727;
	border-radius: 40%;
	color: red;
  }
  .Porfiriy{
	margin: 15%;
  }
  .Aleksey{
	margin: 15%;
  }