* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}
nav,
footer,
header,
aside {
   display: block;
}
html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
   font-family: inherit;
}
input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

body {
   min-height: 790px;
   align-items: center;
}
.wrapper {
   min-height: 100%;
   min-width: 100%;
   display: flex;
   flex-direction: column;
}
.header {
   display: flex;
   width: 100%;
   justify-content: space-between;
   margin: 10px 0 0 0;
}
.comeback-button {
   display: inline-block;
   margin: 13px 0 0 20px;
}
.discord-img {
   width: 50px;
   border-radius: 50px;
}
.tik-tok-img {
   width: 50px;
}
.main {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   flex: 1 1 auto;
}
.main-item {
   margin: 0 auto;
   font-family: Arial, Helvetica, sans-serif;
   width: 140px;
   text-align: center;
   font-size: 24px;
   height: 50px;
   border: 3px solid black;
   border-radius: 30px;
   padding: 8px 0 0 0;
}
.main-item1 {
   margin: 0 auto;
   width: 140px;
   height: 50px;
   border: 3px solid black;
   border-radius: 30px;
}
.main-item2 {
   margin: 0 auto;
   width: 140px;
   height: 50px;
   border: 3px solid black;
   border-radius: 30px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.footer {
   width: 100%;
}
.version {
   font-size: 24px;
}
.settings-main-item {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   height: 300px;
}

.sound {
   margin: 3px 0 0 49px;
   width: 43px;
}
.gamepad {
   width: 45px;
   margin: 0 5px 0 0;
}
.sign-in {
   font-size: 25px;
   font-family: Arial, Helvetica, sans-serif;
   color: rgb(170, 20, 230);
   margin: 0 0 0 5px;
}
