* {
	padding: 0;
	margin: 0;
	border: 0;
 }
 *,
 *:before,
 *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
 }
 :focus,
 :active {
	outline: none;
 }
 a:focus,
 a:active {
	outline: none;
 }
 nav,
 footer,
 header,
 aside {
	display: block;
 }
 html,
 body {
	 background-color: #25345B;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
 }
 input,
 button,
 textarea {
	font-family: 'Balsamiq Sans', cursive;
 }
 input::-ms-clear {
	display: none;
 }
 button {
	cursor: pointer;
 }
 button::-moz-focus-inner {
	padding: 0;
	border: 0;
 }
 a,
 a:visited {
	text-decoration: none;
 }
 a:hover {
	text-decoration: none;
 }
 ul li {
	list-style: none;
 }
 img {
	vertical-align: top;
 }
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
	font-size: inherit;
	font-weight: 400;
 }
 html,body {
    width: 100%;
    height: 100%;
	background: #213242;
	font-family: 'Balsamiq Sans';
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	outline: none;
 }
 .mode-options-container {
   position: absolute;
   display: block;
   height: 100%;
   width: 100%;
   background-color:#213242;
   z-index: 1;
}
.mode-option-title{
   display: flex;
   justify-content: center;
   margin: 25% 0 0 0;
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 38px;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.095em;
   color: #05EFD4;
}
.mode-body {
   display: flex;
   flex-direction: column;
   margin: 25% 0 0 0;
   align-items: center;
   gap: 30px;
}
.easy-mode-button {
	justify-content: space-around;
	align-items: center;
	text-align: center;
	display: flex;
	font-size: 32px;
	width: 90%; 
}
.easy-mode-text{
   width: 70%;
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
   height: 60px;
   background: rgba(51, 255, 0, 0.92);
   border-radius: 10px;
   font-style: normal;
   font-weight: 700;
   line-height: 38px;
   letter-spacing: 0.095em;
   color: #000000;
}
.easy-mode-text:active{
	transform: scale(0.7);
}
.easy-mode-count{
	font-size: 28px;
	width: 65px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	height: 60px;
	border: 2px solid #05EFD4;
	border-radius: 15px;
	color: #05EFD4;
	box-shadow: 0px -1px 5px rgba(255, 255, 255, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-shadow: 0px -1px 5px rgba(255, 255, 255, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.normal-mode-button {
	justify-content: space-around;
	align-items: center;
	text-align: center;
	display: flex;
	font-size: 32px;
	width: 90%; 
}
.normal-mode-text{
   width: 70%;
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
   height: 60px;
   background: #E27B02;
   border-radius: 10px;
   font-style: normal;
   font-weight: 700;
   line-height: 38px;
   letter-spacing: 0.095em;
   color: #000000;
}
.normal-mode-text:active{
	transform: scale(0.7);
}
.normal-mode-count{
	font-size: 28px;
	width: 65px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	height: 60px;
	border: 2px solid #05EFD4;
	border-radius: 15px;
	color: #05EFD4;
	box-shadow: 0px -1px 5px rgba(255, 255, 255, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-shadow: 0px -1px 5px rgba(255, 255, 255, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hard-mode-button {
	justify-content: space-around;
	align-items: center;
	text-align: center;
	display: flex;
	font-size: 32px;
	width: 90%; 
}
.hard-mode-text{
   width: 70%;
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
   height: 60px;
   background: #FA4B00;
   border-radius: 10px;
   font-style: normal;
   font-weight: 700;
   line-height: 38px;
   letter-spacing: 0.095em;
   color: #000000;
}
.hard-mode-text:active{
	transform: scale(0.7);
}
.hard-mode-count{
	font-size: 28px;
	width: 65px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	height: 60px;
	border: 2px solid #05EFD4;
	border-radius: 15px;
	color: #05EFD4;
	box-shadow: 0px -1px 5px rgba(255, 255, 255, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-shadow: 0px -1px 5px rgba(255, 255, 255, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.crazy-mode-button {
	justify-content: space-around;
	align-items: center;
	text-align: center;
	display: flex;
	font-size: 32px;
	width: 90%; 
}
.crazy-mode-text{
   width: 70%;
   display: flex;
   align-items: center;
   text-align: center;
   justify-content: center;
   height: 60px;
   background: #8619B9;
   border-radius: 10px;
   font-style: normal;
   font-weight: 700;
   line-height: 38px;
   letter-spacing: 0.095em;
   color: #000000;
}
.crazy-mode-text:active{
	transform: scale(0.7);
}
.crazy-mode-count{
	font-size: 28px;
	width: 65px;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	height: 60px;
	border: 2px solid #05EFD4;
	border-radius: 15px;
	color: #05EFD4;
	box-shadow: 0px -1px 5px rgba(255, 255, 255, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-shadow: 0px -1px 5px rgba(255, 255, 255, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
 header{
	margin: 0 0 50px auto;
 }
 .topButton-gameWords {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 14px 10px 0 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
 }
 .comeback-button-body{
	position: relative;
	width: 40px;
	height: 40px;
	font-size: 44px;
	color: #05EFD4;
	z-index: 2;
 }
 .comeback-button-body:active{
	transform: scale(0.5);
 }
 .linkToTheSettings{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 34px;
	color: #05EFD4;
 }
 .linkToTheSettings:active{
	transform: scale(0.5);
 }
 .linkToTheRestart {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 34px;
	font-weight: 900;
	color: #05EFD4;
	margin: 0px 5px 0 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
 }
 .linkToTheRestart:active{
	transform: scale(0.5);
 }
 .answers{
	display: flex;
	justify-content: space-between;
	width: 80%;
	margin: 50px auto;
 }
 .hints-container{
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: space-around;
	border: 2px solid #05EFD4;
	border-radius: 10px;
	padding: 8px;
	color: white;
 }
.hints{

}
 .correct{
display: flex;
text-align: center;
align-items: center;
justify-content: center;
color: rgb(0, 255, 0);
border: 2px solid #05EFD4;
border-radius: 10px;
font-size: 40px;
padding: 2px;
 }
 .incorrect{
display: flex;
text-align: center;
align-items: center;
justify-content: center;
color: rgb(255, 0, 0);
border: 2px solid #05EFD4;
border-radius: 10px;
font-size: 40px; 
padding: 2px;
 }
 .incorrect_answer{
	text-align: center;
	align-items: center;
}
 .count{
text-align: center;
align-items: center;
justify-content: center;
font-size: 30px;
 }
 .flags-container{
display: flex;
align-items: center;
justify-content: center;
border: 5px solid #05EFD4;
padding: 8px;
border-radius: 10px;
width: 200px;
height: 114px;
margin: 50px auto;
 }
 .flags-body-img{
	width: 95%;
	height: 95%;
 }
 .img-country{
width: 100%;
height: 100%;
 }
 .country-answers-container{
width: 100%;
color: #05EFD4;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;
text-align: center;
 }
 .country-button{
font-size: 18px;
min-width: 40%;
border: 2px solid #05EFD4;
border-radius: 10px;
margin: 20px auto;
padding: 10px;
transition: 0.2s;
 }
 .country-button:active{
    transform: scale(0.8);
    background-color: #05EFD4;
    color: #000000;
    box-shadow: 0 0 10px 0px #05efd4;
 } 
 .button-hardMode-container{
	display: none;
	flex-wrap: wrap;
	width: 100%;
	color: #05EFD4;
	align-items: center;
	justify-content: space-around;
	text-align: center;
	margin: 0% auto;
 }
  .game-mode{
   margin: 20px 0 0 0;
   text-align: center;
   font-size: 28px;
   font-weight: 900;
   font-family: 'Balsamiq Sans', cursive;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
}
.game-mode-style-easy{
   color: rgb(102, 236, 25);
}
.game-mode-style-normal{
   color: #E27B02;
}
.game-mode-style-hard{
   color: #FA4B00;
}
.game-mode-style-crazy{
   color: #8619B9;
}
.deadLineWrapper{
   margin: 10px auto;
   height: 24px;
   width: 70%;
   background-color: #383DA6;
   border-radius: 6px;
}
#deadeLine{
   animation-play-state: paused;
   position: relative;
   border-radius: 6px;
   bottom: 0px;
   left: 0;
   height: 24px;
   width: 100%;
   background-color: #05EFD4;
}

@keyframes deadeLine {
   0%{
   
   }
   100%{
      width: 1px;
   }
}


.button-start-container{
   display: none;
}
.start-menu__game-mode-container{
   position: absolute;
   top: 40px;
}
.start-menu__game-mode-title{
   margin: 10px auto;
   font-size: 38px;
   color: #05EFD4;
}
.start-menu__game-mode{
   display: flex;
   justify-content: center;
   font-size: 30px;
   font-weight: 700;
}
.start-menu__easy-game-mode{
   color: rgb(102, 236, 25);
}
.start-menu__normal-game-mode{
   color: #E27B02;
}
.start-menu__hard-game-mode{
   color:  #FA4B00;
}
.start-menu__crazy-game-mode{
   color: #8619B9;
}
.start-menu{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: #213242;
	z-index: 3;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
 }
 .button-start{
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	height: 180px;
	width: 180px;
	font-weight: bold;
	font-family: 'Balsamiq Sans', cursive;
	color: #ffffff;
	font-size: 38px;
	border: 6px solid #05EFD4;
	background-color: black;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
 }
.start-menu.activated{
   transition: all 0.5s ;
   visibility: hidden;
}
.button-start.activated{
   transform: scale(0.0,0.0);
   transition: 0.7s ;
   color: rgba(240, 255, 255, 0);
   background-color: rgba(115, 113, 114, 0);
   height: 0px;
   width: 0px;
   font-size: 0px;
}

.victory-loose-screen-container{
   position: absolute;
   display: none;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   height: 100%;
   width: 100%;
   background-color:#213242;
   z-index: 2;
}
.victory-loose-screen__mode-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.victory-loose-screen__mode-title {
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 38px;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.095em;
   color: #05EFD4;

}
.victory-loose-screen__easy-mode {
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 38px;
   display: flex;
   align-items: center;
   letter-spacing: 0.095em;
   color: #32EF07;
}
.victory-loose-screen__normal-mode {
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 38px;
   display: flex;
   align-items: center;
   letter-spacing: 0.095em;
   color: #E27B02;

}
.victory-loose-screen__hard-mode {
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 38px;
   display: flex;
   align-items: center;
   letter-spacing: 0.095em;
   color: #FA4B00;

}
.victory-loose-screen__crazy-mode {
   font-style: normal;
   font-weight: 700;
   font-size: 32px;
   line-height: 38px;
   display: flex;
   align-items: center;
   letter-spacing: 0.095em;
   color: #8619B9;

}
.victory-loose-screen__win-loose-text {
   font-style: normal;
   font-weight: 700;
   font-size: 3.5em;
   line-height: 71px;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.095em;
   color: #32EF07;
   animation: victoryText 2s linear 1;
}
.victory-text-green{
   color: #30EC03;
}
.loose-text-red{
   color: #EF0000;
}

@keyframes victoryText {
   0%{
      transform: scale(0.0);
   }
   50%{
      transform: scale(0.8);
   }
   80%{
      transform: scale(1.2);
   }
   100%{
      transform: scale(1);
   }
}
.victory-loose-screen__results-button {
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 700;
   width: 50%;
   height: 49px;
   color: black;
   font-size: 27px;
   background: #05EFD4;
   border: 2px solid #000000;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 10px;
}
.victory-loose-screen__results-button:active{
   transform: scale(0.7);
}


.results-menu-container{
   position: absolute;
   display: none;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   height: 100%;
   width: 100%;
   background-color:#213242;
   z-index: 2;
}
.results-menu__title {
   margin: 10% 0 0 0;
   text-align: center;
   font-size: 38px;
   color: #05EFD4;
}
.results-menu__mode-container {
   margin: 15% 0 0 0;
}
.results-menu__mode-title {
   text-align: center;
   font-size: 28px;
   color: #05EFD4;
}
.results-menu__easy-mode {
   text-align: center;
   font-size: 26px;
   font-weight: 700;
   margin: 10px 0 0 0 ;
   color: #30EC03;
}
.results-menu__normal-mode {
   text-align: center;
   font-size: 26px;
   font-weight: 700;
   margin: 10px 0 0 0 ;
   color: #E27B02;
}
.results-menu__hard-mode {
   text-align: center;
   font-size: 26px;
   margin: 10px 0 0 0 ;
   font-weight: 700;
   color: #FA4B00;
}
.results-menu__crazy-mode {
   text-align: center;
   font-weight: 700;
   margin: 10px 0 0 0 ;
   font-size: 26px;
   color: #8619B9;
}
.results-menu__items-container {
   margin: 40px auto;
   width: 76%;
   height: 50%;
   background: rgba(0, 0, 0, 0.6);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 15px;
}


.items-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 7%;
   align-items: flex-start;
}
.items-container__each-item-container {
   display: flex;
   gap: 25px;
   margin: 0 10%;
}
.items-container__win-loose-icon {
	text-align: center;
	justify-content: center;
	align-items: center;
	border: 2px solid #05EFD4;
	border-radius: 10px;
	padding: 7px;
   font-size: 34px;
   color: #05EFD4;
}
.items-container__win-loose-item {
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.095em;
   text-decoration: underline;
}
.items-container__win-loose-item-red{
   color: #FA4B00;
}
.items-container__win-loose-item-green{
   color: #32EF07;
}

.items-container__time-icon {
   font-size: 35px;
   color: #05EFD4;
   border: 2px solid #05EFD4;
   border-radius: 10px;
   padding: 7px;
}
.items-container__time-item {
   margin: 0 10px 0 0px;
   display: flex;
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;
   align-items: center;
   text-align: center;
   letter-spacing: 0.095em;
   white-space: nowrap;
   text-decoration: underline;
}
.results-menu__time{
   margin: 0 10px 0 0;
}
.items-container__time-item-green { 
   color: #32EF07;
}
.items-container__time-item-red {
   color: #FA4B00;
}
.items-container__done-cards-icon {
   font-size: 35px;
   color: #05EFD4;
   border: 2px solid #05EFD4;
   border-radius: 10px;
   padding: 7px;
}
.items-container__done-cards-item {
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.095em;
   text-decoration: underline;
}
.items-container__done-cards-item-green {
   color: #32EF07;
}
.items-container__done-cards-item-red{
   color: #FA4B00;
}
.opened-cards {
   margin: 0 0px 0 5px;
}
.items-container__iq-icon {
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.095em;
   color: #05EFD4;
   border: 2px solid #05EFD4;
   border-radius: 10px;
   padding: 7px;
}
.items-container__iq-item {
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.095em;
   color: #32EF07;
   text-decoration: underline;
}
.items-container__exp-icon {
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.095em;
   color: #05EFD4;
   border: 2px solid #05EFD4;
   border-radius: 10px;
   padding: 7px;
}
.items-container__exp-item {
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.095em;
   color: #32EF07;
   text-decoration: underline;
}
.results-menu__buttons-container{
   display: flex;
   justify-content: space-around;
   margin: 10% 0 0 0;
}
.results-menu__button {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 18px;
   font-size: 42px;
   width: 30%;
   height: 60px;
   background-color: #05EFD4;
   color: black;
   transition: 0.2s;
}
.results-menu__button:active{
   transform: scale(0.8);
   box-shadow: 0px 0px 20px 10px rgb(10 242 255 / 25%);
}
