* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}
nav,
footer,
header,
aside {
   display: block;
}
html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
   font-family: inherit;
}
input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

body {
   min-height: 790px;
   display: flex;
   flex-direction: column;
   align-items: center;
   user-select: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   outline: none;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
}
.header {
   margin: 20px 0 0 0;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
}
.hintMain {
   width: 298px;
   height: 51px;
   font-family: "Roboto";
   font-style: normal;
   font-weight: 300;
   font-size: 18px;
   line-height: 21px;
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.225em;
   margin: 100px 0 20px 0;
   color: #000000;
}
.main-game {
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   flex-direction: row;
   height: 360px;
   gap: 5px;
   width: 223px;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
}

.game-list__item:nth-child(1) {
   margin: 0 0px 0 2px;
}
.game-list__item:nth-child(2) {
   margin: 0 0px 0 8px;
}
.sanbox-button {
   display: block;
   border-radius: 30px;
   font-family: Arial, Helvetica, sans-serif;
   margin: 0 auto;
   color: #00edc2;
   font-style: normal;
   font-weight: 900;
   font-size: 24px;
   line-height: 32px;
   text-align: center;
   letter-spacing: 0.225em;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
   background: #004d11;
   width: 214px;
   height: 41px;
}

.footer {
   display: flex;
   flex-direction: row;
   margin: 100px 0 0 0;
}
.achivement {
   margin: 0 200px 0 0;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
}
.text-feedbackMain {
   display: block;
   margin: 10px 0 0 0;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 28px;
   color: transparent;
   -webkit-background-clip: text;
   background-clip: text;
   background-image: linear-gradient(to right, rgb(255, 136, 0), rgb(243, 227, 5));
}
