* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}
nav,
footer,
header,
aside {
   display: block;
}
html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
   font-family: inherit;
}
input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

html,body {
   min-height: 790px;
   
   display: flex;
   flex-direction: column;
   align-items: center;
   background: rgb(255, 255, 255);
}
.wrapper {
   width: 100%;
   position: relative;
   z-index: 1;
}
.memory-game {
   width: 380px;
   height: 300px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   flex-wrap: wrap;
   perspective: 1000px;
}
.memory-card{
   display: flex;
   justify-content: center;
   align-items: center;
   background: rgb(238, 173, 6);
   width: 25%;
   height:80px;
   margin: 5px;
   position: relative;
   box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
   transform: scale(1);
   transform-style: preserve-3d;
   transition: transform .5s;
}
.memory-card.flip{
   transform: rotateY(180deg);
}
.memory-card:active{
   transform: scale(0.80);
   transition: transform .2s;
}
.front-face{
   width: 80px;
   height: 60px;
   padding: 10px;
   position: absolute;
   border-radius: 5px;
   background: rgb(255, 255, 255);
   backface-visibility: hidden;
   transform: rotateY(180deg);
  
}
.back-face{
   width: 90px;
   height: 70px;
   backface-visibility: hidden;
   display: none;
}
.topButton-gameWords {
   display: flex;
   justify-content: space-between;
   width: 100%;
   padding: 10px 0 0 0;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
}
.comeback-button {
   margin: 5px 0 0 10px;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
}
.linkToTheRestart {
   margin: 5px 10px 0 0;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
}
.game-mode{
   margin: 20px 0 0 0;
   text-align: center;
   font-size: 24px;
   color: rgb(102, 236, 25);
}
.text-openedCards{
   font-family:Arial, Helvetica, sans-serif;
   padding: 10px 0 15px 0;
   font-weight: 600;
   text-align: center;
   font-size: 28px;
}
.deadLineWrapper{
   margin: 20px auto;
   height: 17px;
   width: 300px;
   background-color: rgba(0, 0, 0, 0.06);
   border: 3px solid black;
   
}
#deadeLine{
   position: relative;
   bottom: 0px;
   left: 0;
   height: 11px;
   width: 296px;
   background-color: rgb(207, 6, 6);
   animation: deadeLine 60s linear;
}

@keyframes deadeLine {
   0%{
   
   }
   100%{
      width: 1px;
   }
}

.start-menu{
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 0px;
   left: 0px;
   height: 100%;
   width: 100%;
   background-color: rgba(251, 247, 247, 0.858);
   z-index: 3;
}
.button-start{
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   height: 170px;
   width: 170px;
   color: rgb(236, 153, 29);
   font-size: 24px;
   background-color: black;
   
}
.start-menu.activated{
   transition: all 0.3s ;
   visibility: hidden;
}
.button-start.activated{
   transform: scale(0.5,0.5);
   transition: 0.3s ;
   color: azure;
   background-color: rgb(115, 113, 114);
   height: 0px;
   width: 0px;
   font-size: 0px;
}