* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}
nav,
footer,
header,
aside {
   display: block;
}
html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
   font-family: inherit;
}
input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

body{
height: 100%;
font-size: 18px;
background-color: rgb(255, 255, 255);
color: black;
font-family: Arial, Helvetica, sans-serif;
padding: 0 20px;
}
.wrapper{
   min-height: 100%;
   max-width: 800px;
}
.header {
   
   display: flex;
   justify-content: space-between;
   padding: 20px 20px 0px 20px;
}
.header__comeback-button {
}
.header__img-comeback {
   padding: 4px 0px 0px 0px;
}
.header__settings-link {
}
.header__icon-settings {
   
}
.header__button-restart {
   
}
.header__img-restart {
   padding: 4px 0px 0px 0px;
}

.game-mode{
   margin: 20px 0 0 0;
   text-align: center;
   font-size: 24px;
   color: rgb(102, 236, 25);
}
.maine {

}
.timer {
   font-weight: 600;
   font-size: 34px;
}
.maine__timer-container {
   
   padding: 30px 0 60px 0;
   text-align: center;
   
}




.maine__container-calc {
   border: 3px solid rgb(0, 0, 0);
   margin: 0 20px;
   border-radius: 30px;
}
.calculator {
   padding: 20px;
   height: 400px;
   background-color: rgba(0, 0, 0, 0.244);
   border-radius: 30px;
}
.value {
   display: block;
   background-color: rgb(78, 82, 86);
   width: calc(100% - 20px);
   height: 50px;
   border-radius: 10px;
   margin: 15px auto 30px auto;
   padding: 0 15px;
   font-size: 23px;
}
.form__num-wrap{
   display: grid;
  grid-template-columns: 31% 31% 31%;
  justify-items: center;
  gap: 10px;
}
.num {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 34px;
  height: 60px;
  width:  90%;
   background-color: rgb(233, 165, 38);
   border-radius: 20px;
   text-align: center;
}
.clear {
   background-color: rgb(151, 59, 33);
}
.enter {
   background-color: rgb(31, 106, 21);
}

