* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}
nav,
footer,
header,
aside {
   display: block;
}
html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
   font-family: inherit;
}
input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

body{
height: 100%;
font-size: 18px;
background-color: rgb(255, 255, 255);
color: black;
font-family: Arial, Helvetica, sans-serif;
padding: 0 0px;
}
.wrapper{
   min-height: 100%;
   max-width: 800px;
}
.start-menu{
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 0px;
   left: 0px;
   min-height: 800px;
   min-width: 100%;
   background-color: rgba(251, 247, 247, 0.858);
   z-index: 15;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
}
.button-start{
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   height: 170px;
   width: 170px;
   color: rgb(236, 153, 29);
   font-size: 24px;
   background-color: black;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
}
.start-menu.activated{
   transition: all 0.3s ;
   visibility: hidden;
}
.button-start.activated{
   transform: scale(0.5,0.5);
   transition: 0.3s ;
   color: azure;
   background-color: rgb(115, 113, 114);
   height: 0px;
   width: 0px;
   font-size: 0px;
}
.random-num-container {
   position: absolute;
   height: 100%;
   width: 100%;
   background-color: rgb(255, 255, 255);
   z-index: 10;
   display: flex;
   align-items: center;
   justify-content: center;
   
}
.random-num-container__textGo {
   display: none;
   color: rgb(128, 4, 4);
   font-size: 55px;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   animation: textgo 2s 1;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
}
.random-num-container__text {
   display: none;
   font-size: 0px;
   font-weight: 600;
   font-family: Arial, Helvetica, sans-serif;
   animation: text 2s 1;
   margin: 0 0 120px 0;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
}
.rand-num {
   display: none;
   font-size: 0px;
   color: rgb(173, 108, 34);
   animation: numbers 2s 1;
}
@keyframes numbers {
   0%{
      font-size: 0px;
      opacity: 1;
   }
   70%{
      opacity: 0.7;
   }
   100%{
      font-size: 95px;
      opacity: 0;
   }
}
@keyframes text {
   0%{
      font-size: 0px;
      color: rgb(157, 137, 55);
   }
   100%{
      font-size: 50px;
      color: rgb(90, 19, 19);
   }
}
@keyframes textgo {
   0%{
      font-size: 0px;
      
   }
   100%{
      font-size: 50px;
      color: rgb(151, 11, 11);
   }
}
.header {
   display: flex;
   justify-content: space-between;
   padding: 20px 20px 0px 20px;
}
.header__comeback-button {
}
.header__img-comeback {
   padding: 4px 0px 0px 0px;
}
.header__settings-link {
}
.header__icon-settings {
   
}
.header__button-restart {
   
}
.header__img-restart {
   padding: 4px 0px 0px 0px;
}

.game-mode{
   margin: 40px 0 25px 0;
   text-align: center;
   font-family:Arial, Helvetica, sans-serif;
   font-style: normal;
   font-weight: 800;
   font-size: 29px;
   line-height: 29px;
   text-align: center;
   letter-spacing: 0.055em;
   color: #49BC2D;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
}
.maine {

}
.timer {
   font-weight: 600;
   font-size: 34px;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
}
.maine__timer-container {
   
   padding: 30px 0 60px 0;
   text-align: center;
   
}




.maine__container-calc {
   
   margin: 0 20px;
   border-radius: 30px;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
}

.value {
   display: block;
   background: linear-gradient(105.78deg, rgba(255, 255, 255, 0) -51.58%, rgba(238, 238, 238, 0.557292) 128.37%, rgba(217, 217, 217, 0) 128.39%);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 10px;
width: 296px;
height: 60px;
   box-shadow:  1px 1px 3px rgb(73, 71, 71);
   margin: 15px auto 30px auto;
   padding: 0 35px;
   font-size: 23px;
   letter-spacing: 10px;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
}
.relo{
   background-color: rgb(48, 159, 255);
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
}
.form__num-wrap{
   display: grid;
  grid-template-columns: 100px 100px 100px;
  justify-items: center;
  justify-content: center;
  gap: 12px;
  
}
.num {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 34px;
   width: 98px;
   height: 80px;
   background: #D9D9D9;
   border-radius: 5px;
   text-align: center;
   box-shadow:  1px 1px 3px rgb(73, 71, 71);
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
}
.num:active{
   background: #686767;
}
.clear {
   background: #D9D9D9;
   background-image: url(/page-for-memory/pages/firstGamePage-number/img/arrowDelate.svg);
   background-repeat: no-repeat;
   background-position: 50%;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
}
.enter{
   
   background: #D9D9D9;
   background-image: url(/page-for-memory/pages/firstGamePage-number/img/Apply.svg);
   background-repeat: no-repeat;
   background-position: 50%;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
}
 

