* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}
nav,
footer,
header,
aside {
   display: block;
}
html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
   font-family: inherit;
}
input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

body{
height: 100%;
font-size: 18px;
background-color: #333;
color: black;
font-family: Arial, Helvetica, sans-serif;
padding: 0 20px;
}
.wrapper{
   min-height: 100%;
   max-width: 800px;
}
.header {
   
   display: flex;
   justify-content: space-between;
   padding: 20px 20px 0px 20px;
}
.header__comeback-button {
}
.header__img-comeback {
   padding: 4px 0px 0px 0px;
}
.header__settings-link {
}
.header__icon-settings {
   
}
.header__button-restart {
   
}
.header__img-restart {
   padding: 4px 0px 0px 0px;
}

.game-mode{
   margin: 20px 0 0 0;
   text-align: center;
   font-size: 24px;
   color: rgb(102, 236, 25);
}
.maine {

}
.timer {
   font-weight: 600;
   font-size: 34px;
}
.maine__timer-container {
   
   padding: 30px 0 60px 0;
   text-align: center;
   
}
/*


.maine__numbers-top-container {
   min-height: 200px;
   
   min-width: 300px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 20px;
   
}
.numbers-container {
}
.numbers__wrapper-item{
   border-bottom: 4px solid rgb(255, 196, 0);
   height: 100%;
}
.numbers__item-top {
   color: rgb(255, 196, 2);
   font-size: 37px;
   font-weight: 600;
   
}
*/
.maine__container-calc {
   position: relative;
   min-width: 300px;
   min-height: 400px;
   background: #333;
   padding: 40px 30px 30px;
   
   border-radius: 20px;
   box-shadow: 25px 25px 75px rgba(0,0,0,0.25),10px 10px 70px rgba(0,0,0,0.25),
   inset -5px -5px 15px rgba(0,0,0,0.5),
   inset 5px 5px 15px rgba(0,0,0,0.5);
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
}
.maine__container-calc span{
   color: white;
}
.calculator {
   position: relative;
   display: grid;
}
.calculator span{
   position: relative;
   place-items: center;
   display: grid;
   width: 80px;
   height: 80px;
   margin: 8px  ;
   background: linear-gradient(180deg,#2f2f2f,#3f3f3f);
   box-shadow: inset -8px 0  8px rgba(0,0,0,0.15),inset 0 -8px 8px rgba(0,0,0,0.25),0 0 0 2px rgba(0,0,0,0.75),10px 20px 25px rgba(0,0,0,0.4);
   user-select: none;
   cursor: pointer;
   font-size: 34px;
   font-weight: 400;
   border-radius: 10px;
}
.calculator span::before{
   content: '';
   position: absolute;
   background: linear-gradient(90deg,#2d2d2d,#4d4d4d);
   top: 3px;
   left: 4px;
   bottom: 14px;
   right: 12px;
   border-radius: 10px;
   box-shadow: -5px -5px 15px rgba(0,0,0,0.1),10px 5px 10px rgba(0,0,0,0.15);
   border-left: 1px solid #0004;
   border-bottom: 1px solid #0004;
   border-top: 1px solid #0009;
}
.calculator span:active{
   filter: brightness(1.5);
}
.calculator span i{
   position: relative;
   font-style: normal;
   font-size: 1em;
   text-transform: uppercase;
}
.calculator .value {
   position: relative;
   grid-column: span 4;
   height: 100px;
   left: 10px;
   width: calc(100% - 20px);
   border: none;
   outline: none;
   background: #a7af7c;
   margin-bottom: 10px;
   border-radius: 10px;
   box-shadow: 0 0 0 2px rgba(0,0,0,0.75);
   text-align: right;
   padding: 10px;
   font-size: 1.3em;
   font-weight: 600;
}
.num {
}
.calculator .clear{
grid-column: span 2;
width: 175px;
background: #f00;
}
.calculator .clear::before{
   background: linear-gradient(90deg,#d20000,#ffffff5c);
   border-left: 1px solid #fff4;
   border-bottom: 1px solid #fff4;
   border-top: 1px solid #fff4;
}

.calculator .enter{
   grid-column: span 2;
width: 175px;
background: rgb(49, 150, 18);
}
.calculator .enter::before{
   background: linear-gradient(90deg,#098f14,#ffffff5c);
   border-left: 1px solid #fff4;
   border-bottom: 1px solid #fff4;
   border-top: 1px solid #fff4;
}

