* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}
nav,
footer,
header,
aside {
   display: block;
}
html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
   font-family: 'Balsamiq Sans', cursive;
}
input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}

html,body {
   min-width: 380px;
   background-color: #25345B;
   min-height: 750px;
}
.wrapper {
   background-color: #25345B;
   width: 100%;
   height: 750px;
   position: relative;
   z-index: 1;
}
.topButton-gameWords {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 14px 10px 0 10px;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
 }
 .comeback-button-body{
	position: relative;
	width: 40px;
	height: 40px;
	font-size: 44px;
	color: #FEC727;
	z-index: 2;
 }
 .comeback-button-body:active{
	transform: scale(0.5);
 }
 .linkToTheSettings{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 34px;
	color: #FEC727;
 }
 .linkToTheSettings:active{
	transform: scale(0.5);
 }
 .linkToTheRestart {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 34px;
	font-weight: 900;
	color: #FEC727;
	margin: 5px 10px 0 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
 }
 .linkToTheRestart:active{
	transform: scale(0.5);
 }
 .pop-up__container {
   visibility: hidden;
   position: absolute;
   background-color: #02000099;
   height: 100%;
   width: 100%;
   z-index: 20;
   display: flex;
   justify-content: center;
   align-items: center;
}
.pop-up {
	min-height: 30%;
	border-radius: 20px;
	width: 85%;
	background-color: #FEC727;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
.pop-up__title{
	font-size: 30px;
	font-family: 'Balsamiq Sans', cursive;
	font-weight: 600;
	text-align: center;
	color: rgb(133, 2, 133);
	text-decoration: underline;
}
.pop-up__description{
   font-size: 20px;
   font-weight: 600;
   line-height: 30px;
   font-family: 'Balsamiq Sans', cursive;
   text-align: center;
   padding: 0 20px ;
}
.wrap__button{
   
   display: flex;
   justify-content: center;
    align-items: center;
width: 100%;
height: 40px;
}
.pop-up__form{
   display: flex;
  justify-content: space-around;
   align-items: center;
   gap: 60px;
}
.pop-up__ok {
   
   font-size: 20px;
   display: block;
   color: black;
   font-weight: 600;
   text-align: center;
   padding: 10px 0;
   height:40px;
   width: 100px;
   font-family: 'Balsamiq Sans', cursive;
   border-radius: 10px;
   background-color: rgb(17, 190, 75);
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
  
}
.pop-up__ok:active{
   transform: scale(0.7);
}
.pop-up__cancel{
   font-family: 'Balsamiq Sans', cursive;
   font-size: 20px;
   display: block;
   color: black;
   padding: 10px 0;
   font-weight: 600;
   text-align: center;
   height:40px;
   border-radius: 10px;
   width: 100px;
   background-color: rgb(194, 45, 45);
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
}
.pop-up__cancel:active{
   transform: scale(0.7);
}
.pop-up__container2 {
   visibility: hidden;
   position: absolute;
   height: 100%;
   width: 100%;
   z-index: 20;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #02000099;
}
.pop-up2 {
	min-height: 30%;
	border-radius: 20px;
	width: 85%;
	background-color: #FEC727;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
.pop-up__title2{
	font-size: 30px;
	font-family: 'Balsamiq Sans', cursive;
	font-weight: 600;
	text-align: center;
	color: rgb(133, 2, 133);
	text-decoration: underline;
}
.pop-up__description2{
   font-size: 20px;
   font-weight: 600;
   font-family: 'Balsamiq Sans', cursive;
   text-align: center;
   padding: 0 20px ;
}
.wrap__button2{
   
   display: flex;
   justify-content: center;
    align-items: center;
width: 100%;
height: 40px;
}
.pop-up__form2{
   display: flex;
  justify-content: space-around;
   align-items: center;
   gap: 60px;
}
.pop-up__ok2 {
   font-size: 20px;
   display: block;
   color: black;
   font-weight: 600;
   text-align: center;
   padding: 10px 0;
   height:40px;
   width: 100px;
   background-color: rgb(17, 190, 75);
   font-family: 'Balsamiq Sans', cursive;
   border-radius: 10px;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
}
.pop-up__ok2:active{
   transform: scale(0.7);
}
.pop-up__cancel2{
   font-size: 20px;
   display: block;
   color: black;
   padding: 10px 0;
   font-weight: 600;
   text-align: center;
   height:40px;
   width: 100px;
   background-color: rgb(194, 45, 45);
   font-family: 'Balsamiq Sans', cursive;
   border-radius: 10px;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
}
.pop-up__cancel2:active{
   transform: scale(0.7);
}

.pop-up__container3 {
   visibility: hidden;
   position: absolute;
   background-color: #02000099;
   height: 100%;
   width: 100%;
   z-index: 20;
   display: flex;
   justify-content: center;
   align-items: center;
}
.pop-up3 {
	min-height: 30%;
	border-radius: 20px;
	width: 85%;
	background-color: #FEC727;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
.pop-up__title3{
	font-size: 30px;
	font-family: 'Balsamiq Sans', cursive;
	font-weight: 600;
	text-align: center;
	color: rgb(133, 2, 133);
	text-decoration: underline;
}
.pop-up__description3{
   font-size: 20px;
   font-weight: 600;
   font-family: 'Balsamiq Sans', cursive;
   text-align: center;
   padding: 0 20px ;
}
.wrap__button3{
   
   display: flex;
   justify-content: center;
    align-items: center;
width: 100%;
height: 40px;
}
.pop-up__form3{
   display: flex;
  justify-content: space-around;
   align-items: center;
   gap: 60px;
}
.pop-up__ok3 {
   font-size: 20px;
   display: block;
   color: black;
   font-weight: 600;
   text-align: center;
   padding: 10px 0;
   height:40px;
   width: 100px;
   background-color: rgb(17, 190, 75);
   font-family: 'Balsamiq Sans', cursive;
   border-radius: 10px;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
}
.pop-up__ok3:active{
   transform: scale(0.7);
}
.pop-up__cancel3{
   font-size: 20px;
   display: block;
   color: black;
   padding: 10px 0;
   font-weight: 600;
   text-align: center;
   height:40px;
   width: 100px;
   background-color: rgb(194, 45, 45);
   font-family: 'Balsamiq Sans', cursive;
   border-radius: 10px;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
}
.pop-up__cancel3:active{
   transform: scale(0.7);
}

.topButton-gameWords {
   display: flex;
   justify-content: space-between;
   width: 100%;
   padding: 10px 0 0 0;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
}
.comeback-button {
   margin: 5px 0 0 10px;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
}
.linkToTheRestart {
   margin: 5px 10px 0 0;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
} 
.text-level{
   font-family: 'Balsamiq Sans', cursive;
   margin: 30px 0 0 80%;
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 29px;
   color: #FEC727;
}
.deadLineWrapper{
   margin: 80px auto;
   width: 84%;
   height: 30px;
   background: #383DA6;
   border-radius: 10px;
}
#deadeLine{
   animation-play-state: paused;
   position: relative;
   width: 100%;
   height: 30px;
   background: #FEC727;
   border-radius: 10px;
}

@keyframes deadeLine {
   0%{
   
   }
   100%{
      width: 1px;
   }
}
.game-buttons-container{
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   width: 80%;
   height: 40%;
   gap: 15px;
}
.game-buttons-container__button {
   width: 60px;
   height: 60px;
   background: #FFFFFF;
   border-radius: 10px;
}
.game-buttons-container__button-green{
   background-color: chartreuse;
}
.game-buttons-container__button-red{
   background-color: rgb(221, 39, 15);
}


.activated-button{
   background-color: #FEC727;
}


