* {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
   font-family: 'Balsamiq Sans', cursive;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}
nav,
footer,
header,
aside {
   display: block;
}
html,
body {
   background: #223243;
   min-height: 100vh;
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   -webkit-tap-highlight-color: transparent;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   outline: none;
   font-family: 'Balsamiq Sans', cursive;
}
input,
button,
textarea {
   font-family: 'Balsamiq Sans', cursive;
}
input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}
header {
	width: 100%;
	display: flex;
}
.skip-button {
	display: inline;
	color: #00dfc4;
	margin: 13px 20px 0 auto;
	text-align: right;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	align-items: center;
	text-align: center;
	transition: 0.2s;
 }
.skip-button:active{
    transform: scale(0.8);
}
.container .form{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 40px;
	margin: 50% 0 0 0;
}
.container .form.signin,
.container.signinForm .form.signup{
	display: none;
}
.container.signinForm .form.signin{
	display: flex;
}
.container .form h2{
	color: #fff;
	font-weight: 600;
	letter-spacing: 0.1em;
	font-size: 24px;
}
.container .form .inputBox{
	position: relative;
	width: 300px;
}
.container .form .inputBox input{
padding: 12px 10px 12px 48px;
border: none;
width: 100%;
background: #223243;
border: 1px solid rgba(0, 0, 0, 0.1);
color: #fff;
font-weight: 300;
border-radius: 25px;
font-size: 1.5em;
box-shadow: -5px -5px 15px rgba(255,255,255,0.1),
5px 5px 15px rgba(0,0,0,0.35);
transition: 0.5s;
outline: none;
}
.container .form .inputBox span{
	position: absolute;
	left: 0;
	padding: 18px 10px 12px 52px;
	pointer-events: none;
	font-size: 1em;
	font-weight: 300;
	transition: 0.5s;
	letter-spacing: 0.05em;
	color: rgba(255,255,255,0.5);
}
.container .form .inputBox input:valid ~ span,
.container .form .inputBox input:focus ~ span{
	color: #00dfc4;
	border: 1px solid #00dfc4;
	background: #223243;
	transform: translateX(25px) translateY(-7px);
	font-size: 0.7em;
	padding: 0 8px;
	border-radius: 10px;
	letter-spacing: 0.1em;
}
.container .form .inputBox input:valid,
.container .form .inputBox input:focus{
	border: 1px solid #00dfc4;

}
.container .form .inputBox i{
	position: absolute;
	top: 15px;
	left: 16px;
	width: 25px;
	padding: 3px 0;
	padding-right: 8px;
	color: #00dfc4;
	border-right: 1px solid #00dfc4;
}
.container .form .inputBox input[type="submit"]{
	background: #00dfc4;
	color: #223243;
	padding: 10px 0;
	font-weight: 500;
	cursor: pointer;
	box-shadow: -5px -5px 15px rgba(255,255,255,0.1),
	5px 5px 15px rgba(0,0,0,0.35),
	inset -5px -5px 15px rgba(255,255,255,0.1),
	inset 5px 5px 15px rgba(0,0,0,0.35);
	transition: 0.3s;
}
.container .form .inputBox input:active{
	transform: scale(0.95);
	box-shadow: inset 2px 3px 3px rgb(255 255 255 / 25%), 0px 0px 20px 0px rgb(29, 136, 148);
}
.container .form p{
	color: rgba(255,255,255,0.5);
	font-size: 0.75em;
	font-weight: 300;
}
.container .form p a{
	font-weight: 500;
	color: #fff;
}
footer{
	display: flex;
	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}
.Support{
	color: #00dfc4;
	font-size: 20px;
	margin: 0 20px 15px auto;
}
.Support:hover{
	color: #ffffff;
}